In [5]:
import pandas as pd
from PIL import Image
import numpy as np

In [39]:
data = pd.read_json("../Data/data_frame.json", orient='records', lines=True)

In [40]:
data.head(1)

  label                                       image_vector
0    s1  [48, 49, 45, 47, 49, 57, 39, 42, 53, 49, 53, 6...

In [41]:
D = np.stack(data['image_vector'].values)

In [42]:
D

array([[ 48,  49,  45, ...,  47,  46,  46],
       [ 34,  34,  33, ...,  37,  40,  33],
       [ 60,  60,  62, ...,  32,  34,  34],
       ...,
       [112, 109, 116, ...,  93,  88,  92],
       [111, 114, 112, ...,  88,  86,  92],
       [110, 112, 113, ...,  92,  87,  90]])

In [43]:
len(D[0])

10304

In [44]:
y = data['label'].values

In [45]:
y

array(['s1', 's1', 's1', 's1', 's1', 's1', 's1', 's1', 's1', 's1', 's10',
       's10', 's10', 's10', 's10', 's10', 's10', 's10', 's10', 's10',
       's11', 's11', 's11', 's11', 's11', 's11', 's11', 's11', 's11',
       's11', 's12', 's12', 's12', 's12', 's12', 's12', 's12', 's12',
       's12', 's12', 's13', 's13', 's13', 's13', 's13', 's13', 's13',
       's13', 's13', 's13', 's14', 's14', 's14', 's14', 's14', 's14',
       's14', 's14', 's14', 's14', 's15', 's15', 's15', 's15', 's15',
       's15', 's15', 's15', 's15', 's15', 's16', 's16', 's16', 's16',
       's16', 's16', 's16', 's16', 's16', 's16', 's17', 's17', 's17',
       's17', 's17', 's17', 's17', 's17', 's17', 's17', 's18', 's18',
       's18', 's18', 's18', 's18', 's18', 's18', 's18', 's18', 's19',
       's19', 's19', 's19', 's19', 's19', 's19', 's19', 's19', 's19',
       's2', 's2', 's2', 's2', 's2', 's2', 's2', 's2', 's2', 's2', 's20',
       's20', 's20', 's20', 's20', 's20', 's20', 's20', 's20', 's20',
       's21', 's21', 's21', 's21', 's21', 's21', 's21', 's21', 's21',
       's21', 's22', 's22', 's22', 's22', 's22', 's22', 's22', 's22',
       's22', 's22', 's23', 's23', 's23', 's23', 's23', 's23', 's23',
       's23', 's23', 's23', 's24', 's24', 's24', 's24', 's24', 's24',
       's24', 's24', 's24', 's24', 's25', 's25', 's25', 's25', 's25',
       's25', 's25', 's25', 's25', 's25', 's26', 's26', 's26', 's26',
       's26', 's26', 's26', 's26', 's26', 's26', 's27', 's27', 's27',
       's27', 's27', 's27', 's27', 's27', 's27', 's27', 's28', 's28',
       's28', 's28', 's28', 's28', 's28', 's28', 's28', 's28', 's29',
       's29', 's29', 's29', 's29', 's29', 's29', 's29', 's29', 's29',
       's3', 's3', 's3', 's3', 's3', 's3', 's3', 's3', 's3', 's3', 's30',
       's30', 's30', 's30', 's30', 's30', 's30', 's30', 's30', 's30',
       's31', 's31', 's31', 's31', 's31', 's31', 's31', 's31', 's31',
       's31', 's32', 's32', 's32', 's32', 's32', 's32', 's32', 's32',
       's32', 's32', 's33', 's33', 's33', 's33', 's33', 's33', 's33',
       's33', 's33', 's33', 's34', 's34', 's34', 's34', 's34', 's34',
       's34', 's34', 's34', 's34', 's35', 's35', 's35', 's35', 's35',
       's35', 's35', 's35', 's35', 's35', 's36', 's36', 's36', 's36',
       's36', 's36', 's36', 's36', 's36', 's36', 's37', 's37', 's37',
       's37', 's37', 's37', 's37', 's37', 's37', 's37', 's38', 's38',
       's38', 's38', 's38', 's38', 's38', 's38', 's38', 's38', 's39',
       's39', 's39', 's39', 's39', 's39', 's39', 's39', 's39', 's39',
       's4', 's4', 's4', 's4', 's4', 's4', 's4', 's4', 's4', 's4', 's40',
       's40', 's40', 's40', 's40', 's40', 's40', 's40', 's40', 's40',
       's5', 's5', 's5', 's5', 's5', 's5', 's5', 's5', 's5', 's5', 's6',
       's6', 's6', 's6', 's6', 's6', 's6', 's6', 's6', 's6', 's7', 's7',
       's7', 's7', 's7', 's7', 's7', 's7', 's7', 's7', 's8', 's8', 's8',
       's8', 's8', 's8', 's8', 's8', 's8', 's8', 's9', 's9', 's9', 's9',
       's9', 's9', 's9', 's9', 's9', 's9'], dtype=object)

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train = D[: : 2]
X_test = D[1: : 2]

y_train = y[: : 2]
y_test = y[1: : 2]

In [48]:
y_test

array(['s1', 's1', 's1', 's1', 's1', 's10', 's10', 's10', 's10', 's10',
       's11', 's11', 's11', 's11', 's11', 's12', 's12', 's12', 's12',
       's12', 's13', 's13', 's13', 's13', 's13', 's14', 's14', 's14',
       's14', 's14', 's15', 's15', 's15', 's15', 's15', 's16', 's16',
       's16', 's16', 's16', 's17', 's17', 's17', 's17', 's17', 's18',
       's18', 's18', 's18', 's18', 's19', 's19', 's19', 's19', 's19',
       's2', 's2', 's2', 's2', 's2', 's20', 's20', 's20', 's20', 's20',
       's21', 's21', 's21', 's21', 's21', 's22', 's22', 's22', 's22',
       's22', 's23', 's23', 's23', 's23', 's23', 's24', 's24', 's24',
       's24', 's24', 's25', 's25', 's25', 's25', 's25', 's26', 's26',
       's26', 's26', 's26', 's27', 's27', 's27', 's27', 's27', 's28',
       's28', 's28', 's28', 's28', 's29', 's29', 's29', 's29', 's29',
       's3', 's3', 's3', 's3', 's3', 's30', 's30', 's30', 's30', 's30',
       's31', 's31', 's31', 's31', 's31', 's32', 's32', 's32', 's32',
       's32', 's33', 's33', 's33', 's33', 's33', 's34', 's34', 's34',
       's34', 's34', 's35', 's35', 's35', 's35', 's35', 's36', 's36',
       's36', 's36', 's36', 's37', 's37', 's37', 's37', 's37', 's38',
       's38', 's38', 's38', 's38', 's39', 's39', 's39', 's39', 's39',
       's4', 's4', 's4', 's4', 's4', 's40', 's40', 's40', 's40', 's40',
       's5', 's5', 's5', 's5', 's5', 's6', 's6', 's6', 's6', 's6', 's7',
       's7', 's7', 's7', 's7', 's8', 's8', 's8', 's8', 's8', 's9', 's9',
       's9', 's9', 's9'], dtype=object)

In [49]:
X_train_df=pd.DataFrame(X_train)
X_test_df=pd.DataFrame(X_test)

y_train_df=pd.DataFrame(y_train)
y_test_df=pd.DataFrame(y_test)

In [50]:
y_train_df.head(10)

     0
0   s1
1   s1
2   s1
3   s1
4   s1
5  s10
6  s10
7  s10
8  s10
9  s10

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(X_train)
x_test_scaled = scaler.transform(X_test)

pca = PCA(n_components=0.95)  
x_train_pca = pca.fit_transform(x_train_scaled)
x_test_pca = pca.transform(x_test_scaled)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(x_train_pca, y_train)

y_pred = model.predict(x_test_pca)
acc = accuracy_score(y_test, y_pred)

print("Accuracy:", acc)

Accuracy: 0.855

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lda = LinearDiscriminantAnalysis()
X_train_lda = lda.fit_transform(X_train_scaled, y_train)
X_test_lda = lda.transform(X_test_scaled)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train_lda, y_train)

y_pred = model.predict(X_test_lda)
acc = accuracy_score(y_test, y_pred)

print("LDA + KNN Accuracy:", acc)

LDA + KNN Accuracy: 0.915